<!DOCTYPE html>
<html>
<head>
  <title>BLOG</title>
</head>
<body>
<h3 align="center">Welcome the BLOG!</h3>
<p align="center">
  <a href="/sign_up" class="btn">SIgn UP</a><br>
  <a href="/log_in">Log IN</a>
</p>
<hr>
<h4 align="center">All blogs!</h4>
{% for post in posts %}
  <p>#{{ post.id }} NAME: {{ post.name }}</p>
  <p>Description: {{ post.desc }}</p>
  <p>Author ID: {{ post.autor_id }}</p>
{% endfor %}

{% if num > 5 %}
  <div>больше 5</div>
{% else %}
  <div>меньше или равно 5</div>
{% endif %}

<p>Date: {{ date }}</p>

</body>
</html>
